h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #2B2A2C;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.btn {
    display: inline-block;
    color: black;
    line-height: 1.1;
    letter-spacing: 1px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    background: none;
    font-family: 'Montserrat', sans-serif;
    min-width: 170px;
}

header {
    border-bottom: 1px rgba(0,0,0,.2) solid;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    font-size: 27px;
    font-weight: bold;
}
.header__btns {
    display: flex;
    justify-content: space-between;
}
.header__item {
    text-decoration: none;
    color: #2B2A2C;
    font-size: 18px;
    padding: 30px;
    border-color: rgba(0,0,0,.2);
    border-style: solid;
    border-width: 0 0 0 1px;
    font-weight: 600;
}
.header__item:last-child {
    text-decoration: underline;
}

.intro {
    background-color: #5aff7f;
    position: relative;
    overflow: hidden;
    object-fit: cover;
}
.intro__circle {
    position: absolute;
    right: 0;
    top: -120px;
    width: 1100px;
    height: 1100px;
    background-color: #00ff56;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
    object-fit: cover;
    bottom: 0;
}
.intro__inner {
    padding: 250px 0;
    display: flex;
    justify-content: space-between;
    color: black;
}
.intro__info {
    width: 400px;
    z-index: 2;
}
.intro__title {
    font-size: 55px;
    font-style: italic;
    font-weight: 500;
}
.intro_subtitle {
    margin-top: 20px;
    font-size: 35px;
    font-weight: 400;
}
.intro__btn {
    margin-top: 40px;
    padding: 22px 70px;
    text-align: center;
    border: 1px solid black;
}
.intro__img {
    z-index: 3;
}
.intro__avatar {
    width: 570px;
    position: absolute;
    bottom: 0;
    right: 230px;
}

.about {
    background-image: url('img/back.jpg');
    /*background-repeat: no-repeat;*/
    background-size: 100% 100%;
    text-align: center;
    padding: 100px 0;
}
.about__inner {
    background-color: #fff;
    color: black;
    width: 950px;
    padding: 100px 125px;
    margin: 0 auto;
}
.about__title {
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #5aff7f;
    margin-bottom: 20px;
}
.about__introduce {
    font-weight: 400;
    font-size: 37px;
    margin-bottom: 40px;
}
.about__btn {
    /*margin-top: 20px;*/
    padding: 18px 36px;
    text-align: center;
    background: #00ff56;
    font-weight: 500;
    border: none;
}
.about__skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px rgba(0,0,0,.2) solid;
    margin-top: 50px;
}
.skill__item {
    width: 48%;
    margin: 15px 0;
}
.skill__title {
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.skill__progress {
    background: #e5fff6;
    border-radius: 13px;
    height: 7px;
    width: 100%;
}
.skill__progress:after {
    content: '';
    display: block;
    background: #26d94d;
    width: 50%;
    height: 100%;
    border-radius: 9px;
}
.about__footer {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.45;
    margin-top: 40px;
}

.expertise {
    padding: 100px 0 100px;
}
.expertise__title {
    text-align: center;
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 35px;
}
.expertise__inner {
    display: flex;
    justify-content: space-between;
}
.expertise__items {
    width: 57%;
    display: flex;
    flex-direction: column;
    background-color: #00ff56;
    padding-bottom: 45px;
}
.expertise__info {
    width: 39%;
    font-size: 19px;
}
.expertise__info p{
    margin-top: 30px;
    font-weight: 500;
    color: rgba(0,0,0,.7);
}
.expertise__item {
    font-size: 45px;
    font-weight: 400;
    padding: 55px 50px 0 55px;
    color: rgba(0,0,0,.5);
}
.expertise__item:first-child {
    position: relative;
    color: #000;
}
.arrow__left {
    width: 0;
    height: 0;
    border-bottom: 20px solid transparent;  /* left arrow slant */
    border-top: 20px solid transparent; /* right arrow slant */
    border-right: 20px solid #fff; /* bottom, add background color here */
    font-size: 0;
    line-height: 0;
    position: absolute;
    right: 0;
    top: 70px;
}

.experience {
    padding-bottom: 50px;
}
.cards__title {
    font-size: 70px;
    font-weight: 400;
}
.cards {
    margin: 30px 0 0 210px;
    width: 900px;
    border-top: 1px rgba(0,0,0,.2) solid;
    padding: 35px 0;
}
.card__title {
    font-size: 35px;
}
.card__header {
    display: flex;
    justify-content: space-between;
}
.card__link {
    margin-top: 30px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.card__date {
    font-size: 16px;
    margin: 10px 0 30px;
}
.card__info {
    font-size: 16px;
}
.card__item {
    border-bottom: 1px rgba(0,0,0,.2) solid;
    padding-bottom: 35px;
    margin-bottom: 35px;
}

.quote {
    display: flex;
    justify-content: space-between;
    background-color: #00ff56;
    padding-top: 100px;
}
.quote__img {
    width: 55%;
}
.quote__text {
    width: 45%;
    padding: 115px 108px 0;
    font-size: 30px;
}
